/* InputField component */
.searchBar {
    width: 80%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.searchInput { 
    width: 100%;
    border-radius: 50px;
    padding: 15px 0;
    box-shadow: inset 1px 1px 1px 0px #ababab;
    border-color: grey;
    text-align: center;
    font-size: 110%;
}
 
.searchInput:focus {
    box-shadow: 0 0 10px 1000px rgba(0,0,0,0.5);
}

.searchButton {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    padding: 5px;
    border-radius: 100px;
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 6px;
    transition: 0.2s;
    background-color: rgb(65, 109, 210);
    border: 1px solid grey;
    box-shadow: 1px 1px 1px 0px #ababab;
    color: white;
}

.searchButton:hover {
    background-color: rgb(45, 96, 216);
}

.searchButton:active{
    transform: scale(0.8);
    box-shadow: 0 0 5px black;
}
/*todoList component*/
.todo-container {
    width: 80%;  
    margin: 20px auto;
    list-style-type: none;
    padding: 0;
    margin: 20px auto; 
    display: flex;
}
.todo-heading{
    font-size: 1.3rem;
    color: white;
    margin:5px 15px;
    align-self: flex-start;
}
.active-todos, .completed-todos {
    width: 47%;
       /* padding: 10px; */
       border-radius: 5px;
       display: flex;
       flex-direction: column;
       align-items: center;
}
.active-todos {
    background-color: rgb(196, 74, 61);
    margin-right: 3%;
}
.completed-todos {
    background-color: rgb(61, 196, 162);
    margin-left: 3%;
}
.todoList {
    display: flex;
    flex-direction: column;
    align-items: center; 
    list-style-type: none;
    width: 95%; 
}
/* TodolistItem component */
.todoList div { 
    width: 99%;
    margin: 10px auto;
    margin-top: 0px;
    flex-direction: row;
    border-radius: 3px;
    transition: 0.2s;
}

.todoList .active{
    background-color: rgb(215, 168, 14);
}

.todoList .completed {
    background-color: #68827f;
}

.todoList div:hover {
    transform: scale(1.03);
}

.listItem {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    flex-wrap: nowrap;
}
.list-item-icons { 
    display: flex;
    max-width: 75px;
    text-align: right;
    justify-self: flex-end; 
    margin: 0px; 
}
.list-item-text{
    text-align: left; 
    margin-right: 10px;
    max-width: 70%;
    overflow: hidden; 
}
.list-item-input {
    max-width: 65%; 
}
 .list-item-icon{
     margin-right: 10px;
     cursor: pointer;
}

.list-item-input:focus {
    outline: none;
}

@media screen and (max-width: 750px) {
    .todo-container{
        flex-direction: column;
        align-items: center;
    }
   
    .active-todos, .completed-todos{
        width: 97%;
        margin: 0px;
    }
    .active-todos{
        margin-bottom: 20px;
    }
}